@use '@/assets/styles/scssVars.module.scss' as *;

* {
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

body {
	background-color: $bg;
	margin: 0;
	padding: 0;
}

select {
	background-color: $bgContrast;
	padding: 0.25rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

button {
	font-size: 1rem;
	background-color: $c3sblue;
	color: $textColor;
	border: 1px solid $primary;
	border-radius: 0.5rem;
	margin: 0.25rem;
	padding: 0.25rem;
	cursor: pointer;

	&:hover {
		background-color: $c3sred;
		color: $bgContrast;
	}

	border: none;
	padding: 0.5rem 1rem;
	transition: background-color $animTime ease-in-out;
}

.explore-button {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 20;
	border: none;
	background-color: $panelBg;
	color: $textColor;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 1px;

	&:hover {
		color: $c3sred;
		background-color: $panelBg;
		box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px 2px;
	}

	&.middle {
		top: 35%;
		transform: translateY(-50%);
	}

	&.bottom {
		top: 70%;
		transform: translateY(-50%);
	}
}

.panel {
	display: flex;
	flex-direction: column;
	border-radius: $frameBorderRadius;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px 0px;
	background-color: $panelBg;
}

@keyframes fadeIn {
	0% {
		background-color: rgba($primary, 0);
	}
	100% {
		background-color: $primary;
	}
}

@keyframes fadeOut {
	100% {
		background-color: rgba($primary, 0);
	}
	0% {
		background-color: $primary;
	}
}

input[type='radio'] {
	-webkit-appearance: none;
	appearance: none;
	background-color: $bg;
	margin: 0;
	font: inherit;
	color: $textColor;
	width: 1.1rem;
	height: 1.1rem;
	border: 0.2rem solid $bg;
	outline: 0.15rem solid $textColor;
	border-radius: 50%;
	transform: translateY(0.15rem);
	margin-right: 0.35rem;
	animation-duration: $animTime;
	animation-name: fadeOut;

	&:checked {
		background-color: $primary;
		animation-name: fadeIn;
	}
}
