
// Official colors
$c3sred: rgb(151, 24, 65);
$panelBg: rgb(255, 255, 255);

// Crap I've made up and will definitely be replacing later
$bg: rgb(197, 228, 236);
$bgContrast: rgb(196, 237, 247);
$textColor: rgb(27, 11, 9);
$primary: rgb(50, 108, 184);
$highlight: rgb(211,54,130);

$animTime: 5.5s;
$settleTime: 5.5s;

$headerHeight: 4rem;
$gap: 0.5rem;
$footerHeight: 2.25rem;

:export {
    animTime: $animTime;
}